{% extends 'catalog/base2.html' %} 
{% block title %} Home {% endblock %} 
{% block content %}
<div class="about-info">
	<h2>A brief history of Treventure</h2>
</div>
<div class="about-grids">
	<div class="col-md-8 about-left">
		<h3>Treventure a Food , Travell booking Networking site.</h3>
		<p>Treventure link up three hotels bokking Networking site.Food booking also provide packages ture and travell,there are actractive
			packages for guests .services are Flight booking ,Bus booking ,easy to way find out our site. </p>
	</div>
	<div class="col-md-4 about-right">
		<img src="images/w1.jpg" alt="" />
	</div>
	<div class="clearfix"> </div>
</div>
{% endblock %}