{% extends 'catalog/base.html' %} {% load static %} {% load ratings %} {% block content %}
<div class="container content">

    <div class="row route-update">
        <div class="update-overlay">
            <div class="container">

                <div class="container">
                    <div class="route" style="margin-bottom: 20px;">
                        <div class="text-xl">
                            <h3>{{search_departure_location}}
                                <span>
                                    <i class="glyphicon glyphicon-arrow-right"></i>
                                </span>
                                <span>{{search_arrival_location}}</h3>
                        </div>
                        <div class="text-xl">
                            <h3>{{convert_to_date}}</h3>
                        </div>
                    </div>

                    <!-- search form -->
                    <div class="container">
                        <div class="col-md-8 banner-right">
                            <div class="sap_tabs">
                                <div class="booking-info about-booking-info">
                                    <h2>Search Travel</h2>
                                </div>
                                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                                    <!-- search form -->
                                    <form action="{% url 'search_results' %}" class="search-form search-form-inline">
                                        <div class="reservation">
                                            <ul>
                                                <li class="span1_of_1 desti about-desti">
                                                    <h5>Source</h5>
                                                    <div class="book_date">
                                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                                        <input type="text" class="form-input form-control" id="search" autocorrect="off" id="SearchKeyword" data-test="search-input-input"
                                                            placeholder="From Location" tabindex="1" value="" name="depature-location"
                                                            required>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="reservation">
                                            <ul>
                                                <li class="span1_of_1 desti about-desti">
                                                    <h5>Destination</h5>
                                                    <div class="book_date">
                                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                                        <input type="text" class="form-input form-control" id="search" autocorrect="off" id="SearchKeyword" data-test="search-input-input"
                                                            placeholder="To Location" tabindex="1" value="" name="arrival-location"
                                                            required>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="reservation">
                                            <ul>
                                                <li class="span1_of_1  ">
                                                    <h5>Date</h5>
                                                    <div class="book_date">
                                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                        <input type="date" class="form-input form-control" id="search" autocorrect="off" id="SearchKeyword" data-test="search-input-input"
                                                            placeholder="mm/dd/yy" tabindex="1" value="" name="travel-date" required>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="reservation">
                                            <ul>
                                                <li class="span1_of_3">
                                                    <div class="date_btn">
                                                        <button class="btn btn-success route-button">Search</button>
                                                    </div>
                                                </li>
                                                <div class="clearfix"></div>
                                            </ul>
                                        </div>

                                    </form>
                                    <!-- search form end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- search form end -->
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container results-page">

    <div class="row results">

        <div class="container">

            {% if buses %}

            <h2> {{buses|length}} buses found </h2>

            {% endif %} {% if no_scheduled_bus_message %}

            <h2>{{no_scheduled_bus_message}}</h2>

            {% endif %} {% if no_route_message %}

            <h2>{{no_route_message}}</h2>

            {% endif %}

        </div>

    </div>

</div>
{% if buses %}

<div class="container scheduleBar">
    <div class="row">
        <div class="container">

            <ul class="cat">
                <li class="bus-companies">Bus Companies</li>

                <li class="departure">Departure</li>

                <li class="duration">Estimated Duration</li>

                <li class="seats hidden-xs hidden-sm">Seats</li>

                <li class="price">Price</li>
            </ul>
            <ul class="res">

                    {% for bus in buses %}
    
                    <li>{{bus.bus.bus_organisation}}</li>
                    <li>{{bus.departure_time | date:"g:i A"}}</li>
                    <li>{{estimation_duration}}</li>
                    <li>{{bus.bus.capacity}}</li>
                    <li>Rs. {{bus.price}}</li>
                    <li>
                        <a href="{%url 'bus_details' bus.id%}">
                            <button class="btn btn-success search-button">Select</button>
                        </a>
                    </li>
    
                    {% endfor %} 
            </ul>

        </div>
    </div>

</div>
{% endif %}
{% endblock %}